@import "tailwindcss";

/* Logo font */
@font-face {
  font-family: "ClashDisplay";
  src: url("/public/fonts/ClashDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Regular font */
@font-face {
  font-family: "Satoshi";
  src: url("/public/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: bold;
  font-display: swap;
}

/* Bold font */
@font-face {
  font-family: "Satoshi";
  src: url("/public/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.logo{
    font-family: 'ClashDisplay', sans-serif;
    font-weight: 800;
}

